*.pptx
*.docx
*.exe
*.zip
*.pdf

*BeautifulSubsequence*

Backtracking/safefruit_hjc
*Backtracking*
.vscode/launch.json
.vscode/tasks.json
Backtracking/.ipynb_checkpoints/test_script-checkpoint.ipynb
Backtracking/.virtual_documents/test_script.ipynb.py
Backtracking/.virtual_documents/Untitled.ipynb.py
Backtracking/.virtual_documents/test/script.ipynb.py
Backtracking/ADS_P2.zip
project_requirement/project2.md
.vscode/settings.json
3_DynamicProgram/ADS_P3*
3_DynamicProgram/adsproj3.md
HuffmanCodes/test.txt
